body {
    /*margin: 39px;*/
    /*padding: 20px;*/
    font-family: sans-serif;
}


.buttons-status > button {
    margin-right: 10px;
}

.blue-button {
    background-color: dodgerblue!important;
    color: white!important;
    border-radius: 12px!important;
    border: 1px solid transparent!important;
}
.blue-button:hover {
    background-color: white!important;
    color: dodgerblue!important;
    border: 1px solid dodgerblue!important;
}