body {
    /*margin: 39px;*/
    /*padding: 20px;*/
    font-family: sans-serif;
}


.buttons-status > button {
    margin-right: 10px;
}

.blue-button {
    background-color: dodgerblue;
    color: white;
    border-radius: 12px;
    border: 1px solid transparent;
}
.blue-button:hover {
    background-color: white;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}